/* start background style*/

.page-title-bg {
    background-image: url("../media/services/img2.jpg");
    position: relative;
    padding-top: 100px;
    padding-bottom:100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: -4px;
}

/*end of style background */