@import "template.css";
/*start layout style*/

.img-size {
    width: 350px;
    height: 300px;
}
.page-title-bg {
    background-image: url("../media/services/Background.jpg")!important;
}
.row{
    margin-bottom: 50px;
}
p .ext-muted .card-text {
    margin-bottom: 150px;
    margin-top: 50px;
}
.btn{
    padding: 0.300rem 0.50rem;
    font-size: 0.800rem;
}

.site-content a {
    color: #343a40 !important;
}
.margin{
    margin-bottom: 50px;
    padding: 5px 5px;
}
.margin-container{
    margin-bottom: 50px;
    margin-top: 50px;
}
a:hover img {
    transform: scale(1.1);
    transition: all 1s ease-in;
    filter: brightness(.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}